#img-circle {
    border-radius: 50%;
}
body {
    padding-top: 0rem;
    background-color: #dfdcea;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    color: #8a8a8e;
}

h1, h2, h3 {
    color: #6b4fe8;
    text-transform: uppercase;
    padding-top: 0.25em;
}

header {
    border-bottom: 1px double #8674e9;
}

article, aside, footer {
    margin: 1em;
}

a {
    color: #747ce9;
}



footer {
    color: #8a4fe8;
}

#current, #future-plans, {
    border-left: 1px double #8074e9;
    border-bottom: 1px double #8674e9;
}


#contact-section {
    
}



#submit-button {
    color: #8a8a8e;
    border-color: #7486e9;
}

#submit-button:hover {
    background-color: #9374e9;
    color: white;
}


#submit-button:focus {
    box-shadow: none;
}



#img-circle {
    border-radius: 50%;
}
.child {
    display:inline;
    margin: auto;
}
.navbar {
    /* .bg-light uses important and we need to override that. */
    background-color: #dddcea!important;
    color: #7480e9 !important;
}

nav div .navbar-nav a.active  {
    color: #524fe8e5 !important;
}

nav div .navbar-nav a {
    color: #594fe8af !important;
    font-size: 120%;
    text-transform: uppercase;
}

td {
    border-left: 1px solid #7476e9;
    padding: 1em;
}

.bottom-row {
    border-bottom: 1px solid #7c74e9;
}
